<table class="w-full text-left text-sm text-gray-500 dark:text-gray-400">
  <thead class="group/head text-xs uppercase text-gray-700 dark:text-gray-400">
    <tr>
      <th class="group-first/head:first:rounded-tl-lg group-first/head:last:rounded-tr-lg bg-gray-50 dark:bg-gray-700 px-6 py-3">ID</th>
      <th class="group-first/head:first:rounded-tl-lg group-first/head:last:rounded-tr-lg bg-gray-50 dark:bg-gray-700 px-6 py-3">First Name</th>
      <th class="group-first/head:first:rounded-tl-lg group-first/head:last:rounded-tr-lg bg-gray-50 dark:bg-gray-700 px-6 py-3">Last Name</th>
    </tr>
  </thead>
  <tbody class="group/body">
    <tr *ngFor="let user of users | async"
      class="group/row">
      <td class="group-first/body:group-first/row:first:rounded-tl-lg group-first/body:group-first/row:last:rounded-tr-lg group-last/body:group-last/row:first:rounded-bl-lg group-last/body:group-last/row:last:rounded-br-lg px-6 py-4">{{ user.id }}</td>
      <td class="group-first/body:group-first/row:first:rounded-tl-lg group-first/body:group-first/row:last:rounded-tr-lg group-last/body:group-last/row:first:rounded-bl-lg group-last/body:group-last/row:last:rounded-br-lg px-6 py-4">{{ user.firstName }}</td>
      <td class="group-first/body:group-first/row:first:rounded-tl-lg group-first/body:group-first/row:last:rounded-tr-lg group-last/body:group-last/row:first:rounded-bl-lg group-last/body:group-last/row:last:rounded-br-lg px-6 py-4">{{ user.lastName }}</td>
    </tr>
  </tbody>
</table>
<router-outlet />
